.header-bg {
    background: #ffffff;
    border-bottom: 2px solid #E5E5E5;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.header ul {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}
.header .nav-principal a{
    color: #2F2E41;
    display: inline-block;
    font: 400 0.85rem/1.5 "Poppins", sans-serif;
    position: relative;
    text-transform: uppercase;
}
.header .nav-principal a::after{
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background: #F55151;
    margin-top: 4px;
    transition: 0.3s;
    position: absolute
}
.header .nav-principal a:hover::after{
    width: 100%;
}
.btn-mobile {
    display: none;
}
@media (max-width: 850px) {
    .header ul {
        gap: 10px;
    }
    .nav-secundaria a {
        font-size: 0.7rem;
    }
}
@media (max-width: 750px) {
    [data-nav="principal"] {
        display: none;
    }
    [data-nav="secundaria"] {
        display: none;
    }
    .nav-principal.ativo {
        display: block;
        position: absolute;
        padding: 40px;
        box-sizing: border-box;
        right: 20px;
        top: 56px;
        background: #ccc;
        border-radius: 5px;
        animation: showLeft .3s forwards;
    }
    .nav-principal ul{
        display: block;
    }
    .nav-principal li{
        margin-bottom: 10px;
    }

    .nav-secundaria.ativo {
        display: block;
        position: absolute;
        padding: 0px 40px 20px 40px;
        box-sizing: border-box;
        right: 20px;
        top: 220px;
        background: #ccc;
        border-radius: 5px;
        animation: showLeft .3s forwards;
    }
    .nav-secundaria ul{
        display: block;
    }
    .nav-secundaria ul{
        border-top: 1px solid red;
        padding-top: 10px;
    }
    .nav-secundaria li{
        margin-bottom: 10px;
    }
    .nav-secundaria a {
        max-width: 43px;
    }

    .btn-mobile {
        display: block;
        padding: 8px 16px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font: 600 .875rem/1.3 "Poppins", Sans-serif;
        text-transform: uppercase;
        background: #FF6363;
        color: #500909;
    }
    .btn-mobile:hover {
        background: #F55151;
    }
}
@keyframes showLeft {
    from {
        opacity: 0;
        transform: translate3d(-30px, 0, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}